*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body{
    background-image: url('/images/akanbackground.jpg');
    height: 100vh;
    width: 100%;
    margin: 10px;

}

h1{
    font-size: large;
    text-align: center;
}

.title{
    margin: 50px;
    height: 500px;
    width : 100%;
    

}



